body {
	margin           : 0;
	font-size        : 14px;
	font-weight      : 400;
	line-height      : 1.15;
	color            : #212529;
	text-align       : left;
	background-color : #FFF;
}
.toast-container {
	position : absolute;
	top      : 0;
	padding: 10px 20px;
	right    : 0; z-index : 1046;
}
.toast-container .toast {
	z-index          : 1047;
	min-width        : 300px;
	background-color : #FFFFFF;
}
.hidden {
	display : none !important;
}
.pt-10 {
	padding-top : 10px !important;
}
.dataTables_filter input[type="search"] {
	width : 310px !important;
}
#nprogress .bar {
	background : #FF2942;
	position   : fixed;
	z-index    : 1045;
	top        : 0;
	left       : 0;
	width      : 100%;
	height     : 3px;
}
#nprogress .peg {
	display           : block;
	position          : absolute;
	right             : 0;
	width             : 100px;
	height            : 100%;
	box-shadow        : 0 0 10px #DC3545, 0 0 15px #FF2942;
	opacity           : 1.0;
	-webkit-transform : rotate(3deg) translate(0px, -4px);
	-ms-transform     : rotate(3deg) translate(0px, -4px);
	transform         : rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner-icon {
	width             : 24px;
	height            : 24px;
	box-sizing        : border-box;
	border            : solid 3px transparent;
	border-top-color  : #D23;
	border-left-color : #FF9C9C;
	border-radius     : 50%;
	-webkit-animation : nprogress-spinner 400ms linear infinite;
	animation         : nprogress-spinner 400ms linear infinite;
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
	display  : block;
	position : fixed;
	z-index  : 1045;
	top      : 15px;
	right    : 15px;
}
.card-header {
	padding : 10px 20px;
}
.card-title {
	line-height : 1.4;
}
.table td, .table th {
	vertical-align : middle !important;
	padding        : 5px;
}
.table.table-sm td, .table.table-sm th {
	padding : .3rem;
}
.task-form .input-group-prepend .input-group-text {
	min-width : 92px;
}
table.table thead th{
	padding: 10px;
	background: #efefef;
}
.nav-sidebar .nav-item{
	margin-left: auto;
	margin-right: auto;
}
.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-md .main-sidebar .nav-sidebar .nav-link, .sidebar-collapse.sidebar-mini-xs .main-sidebar .nav-sidebar .nav-link{
	width: 44px;
}

.sidebar-collapse.sidebar-mini .main-sidebar .nav-sidebar .nav-link,
.sidebar-collapse.sidebar-mini-md .main-sidebar .nav-sidebar .nav-link,
.sidebar-collapse.sidebar-mini-xs .main-sidebar .nav-sidebar .nav-link {
	width : 44px;
}
.sidebar-collapse.sidebar-mini .main-sidebar.sidebar-focused .nav-link,
.sidebar-collapse.sidebar-mini .main-sidebar:hover .nav-link,
.sidebar-collapse.sidebar-mini-md .main-sidebar.sidebar-focused .nav-link,
.sidebar-collapse.sidebar-mini-md .main-sidebar:hover .nav-link,
.sidebar-collapse.sidebar-mini-xs .main-sidebar.sidebar-focused .nav-link,
.sidebar-collapse.sidebar-mini-xs .main-sidebar:hover .nav-link {
	width : calc(250px - 0.5rem * 2);
}

details.simple{
	background : #FAFAFA;
	padding    : 4px;
}
details.simple summary:hover{
	opacity : 0.85;
}
details.simple summary:hover,
details.simple[open] summary
{
	background : #e3e3e3;
}
details.simple dl dt i{
	vertical-align: middle;
}
details.simple dl {
	margin-top : 6px;
}
details.simple summary {
	cursor     : pointer;
	transition : opacity .2s linear;
	padding    : 6px;
	background : #F0F0F3;
}

.listing {
	border           : 1px solid #C0C0C0;
	padding          : 0 10px;
	background-color : rgba(0, 0, 0, .05);
}
.listing details {
	padding : 10px 0;
}
.listing details + details {
	border-top : 1px solid #C0C0C0;
}
.listing details summary {
	color  : #212545;
	padding : 10px;
	background: #fefefe;
}
.nav.nav-pills.nav-sidebar .nav-link .badge {
	line-height : 1.1;
	top         : 8px;
}

.disabled {
	pointer-events : none;
	opacity        : .5;
}

.inactive {
	pointer-events : none;
	opacity        : .9;
}
.select2-container--bootstrap4 .select2-selection__clear {
	float            : right;
	width            : 0.9em;
	height           : .9em;
	padding-left     : 0.18em;
	margin-top       : .7em;
	margin-left      : .2em;
	margin-right     : .3em;
	line-height      : .9em;
	color            : #F8F9FA;
	background-color : #C8C8C8;
	border-radius    : 100%;
}
.resize-vertical {
	resize : vertical;
}
.select2-container--bootstrap4 .select2-selection__clear:hover {
	background-color : #AF0F0F;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__rendered{
	line-height : 1.7em;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
	background    : #FEFEFE;
	margin-top    : calc(0.375rem - 2px);
	color         : #495057;
	cursor        : pointer;
	border        : 1px solid #BDC6D0;
	border-radius : 0.2rem;
}
.form-group.multiple-float-none .select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
	float:none;
	padding : 4px 0.75rem 4px 4px;
	margin-right : 1.275rem;
}
.select2-container--bootstrap4 .select2-results__option[aria-disabled=true] {
	color      : #9C959D;
	background : #FCFCFC;
}
.select2-container--bootstrap4 .select2-dropdown .select2-results__option[aria-selected="true"]{
	background : #D2E2F2;
}
.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected="true"] {
	color            : #FFF;
	background-color : #007BFF;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove:hover {
	color : #C12C0B;
}
#tableWorkers .btn {
	line-height : 1.15;
}
.btn.btn-xs.btn-flat {
	min-width : 24px;
}
.btn:focus, .btn:active:focus,
.btn.active:focus, .btn.focus,
.btn:active.focus, .btn.active.focus {
	outline        : none;
	outline-offset : -2px
}
.lobibox-notify .lobibox-notify-title {
	min-height    : 1em;
	margin-bottom : 4px;
}
.navbar-expand .navbar-nav .nav-link {
	padding-right : 1rem;
	padding-left  : 1rem;
	padding-top   : 1em;
}

table .tbl-col-donor{
	max-width: 254px;
	white-space: normal;
}
table td.bg-info {
	background-color: #B3CFD3!important;
}
table .tbl-col-link{
	max-width: 420px;
	white-space: normal;
}
table tr th.tbl-col-no,
table tr td.tbl-col-no{
	max-width: 30px;
	white-space: nowrap;
	text-align : center;
}

table tr th.tbl-col-supplier,
table tr td.tbl-col-supplier,
table tr th.tbl-col-project,
table tr td.tbl-col-project{
	width: 220px;
	white-space: normal;
}
table tr th.tbl-col-period,
table tr td.tbl-col-period{
	max-width: 78px;
	white-space: nowrap;

	text-align : center;
}
table tr th.tbl-col-status,
table tr td.tbl-col-status{
	max-width: 98px;
	white-space: nowrap;
	text-align : center;
	text-transform : capitalize;
}

table tr.tbl-row-hoverable:hover > td{
	background-color : #D9F1FF !important;
}
table tr th.tbl-col-action,
table tr td.tbl-col-action{
	max-width: 94px;
	min-width: 94px;
	white-space: nowrap;
	text-align: center;
}
table tbody tr[data-toggle-row]{
	cursor : pointer;
}
.text-shadow-white{
	text-shadow : 0 0 12px white;
}
.text-shadow-dark {
	text-shadow : 0 0 12px black;
}
.bg-gradient-purple {
	background : #6F42C1 linear-gradient(180deg, #855ECA, #4B278B) repeat-x !important;
	color      : #FFF;
}
.bg-gradient-primary {
	background : #007BFF linear-gradient(180deg, #268FFF, #13569F) repeat-x !important;
	color      : #FFF;
}
.bg-gradient-success {
	background : #28A745 linear-gradient(180deg, #4CBD66, #0C7E26) repeat-x !important;
	color      : #FFF;
}
.bg-gradient-yellow {
	background : #FFC107 linear-gradient(180deg, #F7C635, #C59400) repeat-x !important;
	color      : #1F2D3D;
}
.nav-sidebar .nav-header {
	font-size : .9rem;
	padding   : .75rem;
}
.navbar-badge {
	font-size   : .6rem;
	font-weight : 300;
	padding     : 2px 4px 0 3px;
	position    : absolute;
	right       : 5px;
	top         : 9px;
}

#contact-us-popup .close {
	color   : #FEFEFE;
	opacity : .7;
}
#contact-us-popup .close:hover {
	color   : #FEFEFE;
	opacity : 1;
}
@media (min-width : 768px) {
	#contact-us-popup .modal-sm {
		width : 440px;
	}
}
.feedback-static-btn .btn-open-feedback.tab.tab-right {
	right                    : -7px;
	top                      : 75%;
	left                     : auto;
	-moz-transform           : rotate(270deg) translate(100%, -50%);
	-ms-transform            : rotate(270deg) translate(100%, -50%);
	-webkit-transform        : rotate(270deg) translate(100%, -50%);
	transform                : rotate(270deg) translate(100%, -50%);
	-moz-transform-origin    : right;
	-ms-transform-origin     : right;
	-webkit-transform-origin : right;
	transform-origin         : right;
	border-color             : #407FB4 !important;
	background-color         : #00A6FF !important;
	cursor                   : pointer;
	display                  : inline-block;
	font-weight              : 400
}
html .feedback-static-btn {
	position                 : relative;
	overflow                 : hidden;
	margin                   : 0;
	text-align               : left;
	letter-spacing           : normal;
	text-transform           : initial;
	outline                  : 0;
	-ms-text-size-adjust     : 100%;
	-webkit-text-size-adjust : 100%
}
.feedback-static-btn {
	font-size     : 14px;
	line-height   : 1.4;
	position      : relative;
	border-radius : 0
}
.feedback-static-btn .btn-open-feedback.tab, .feedback-static-btn .btn-open-feedback.tab.tab-right {
	position                   : fixed !important;
	z-index                    : 899 !important;
	overflow                   : visible !important;
	-webkit-transition         : all .3s cubic-bezier(.25, .8, .25, 1);
	transition                 : all .3s cubic-bezier(.25, .8, .25, 1);
	opacity                    : .5;
	padding                    : 4px 6px 6px;
	border-bottom-right-radius : 0;
	border-bottom-left-radius  : 0
}
.feedback-static-btn .btn-open-feedback.tab.tab-right.allow-button:hover, .feedback-static-btn.allow-button .btn-open-feedback.tab.tab-right:hover {
	right   : 0;
	opacity : 1
}
.feedback-static-btn .btn, .feedback-static-btn button {
	font-family      : inherit;
	font-size        : 1em;
	font-weight      : 400;
	line-height      : 1.2em;
	position         : relative;
	z-index          : 2;
	width            : auto;
	margin           : 0;
	padding          : 10px 24px;
	-moz-user-select : none;
	user-select      : none;
	transition       : all .3s cubic-bezier(.25, .8, .25, 1);
	text-align       : center;
	vertical-align   : middle;
	letter-spacing   : normal;
	text-transform   : none;
	color            : #F2F2F9;
	border           : 1px solid #DDDDDD;
	border-radius    : 3px;
	outline          : 0;
	background-color : #FFFFFF;
	box-shadow       : 0 2px 2px 0 rgba(0, 0, 0, .05), 0 3px 1px -2px rgba(0, 0, 0, .06), 0 1px 5px 0 rgba(0, 0, 0, .1)
}
.password-show-toggle {
	cursor    : pointer;
	max-width : 44px;
}
.loader {
	-webkit-animation : spin .7s linear infinite;
	animation         : spin .7s linear infinite;
	border            : 3px solid #FFF;
	border-top        : 3px solid #EE3333;
	border-radius     : 50%;
	position          : absolute;
	width             : 24px;
	height            : 24px;
	top               : -5px;
	right             : 8px;
}
@keyframes spin {
	0% {
		transform : rotate(0deg);
	}
	100% {
		transform : rotate(360deg);
	}
}
.nav-item.has-treeview .nav-treeview {
	background : #445 !important;
}
table tr th.transparent,
table tr td.invisible {
	background : transparent;
	border     : none;
}
.input-group-sm > .custom-select, .input-group-sm > .form-control:not(textarea) {
	height : calc(2.0125rem + 2px);
}
/* level 3 menu items left padding (use for "classroom")*/
ul li ul li ul li > a.nav-link{
	padding-left: 2.2em;
}
input[type="search" i]::-webkit-search-cancel-button{
	opacity: .4;
}
.profile-username {
	font-size  : 24px;
	margin-top : 5px;
	min-height : 3em;
}
.summary-legend{
	margin: 10px auto 10px auto;
	min-width : 140px;
	width : 75%;
}
.summary-legend ul{
	list-style: none;

	padding-inline-start : 10px;
}
.summary-legend li {
	padding: 2px 0;
}
.summary-chart {
	margin : auto;
}
.summary-legend li span {
	padding     : 0 6px;
	font-family : Arial, Helvetica, sans-serif;
	font-size   : 10px;
	width       : 12px;
	height      : 12px;
	MARGIN      : 0 4px;
}
.brand-link img.brand-image.elevation-3 {
	box-shadow : none !important;
}
.small-box .inner p {
	margin-bottom : 0;
}
.small-box .icon > i.fa, .small-box .icon > i.fas, .small-box .icon > i.far, .small-box .icon > i.fab, .small-box .icon > i.fal, .small-box .icon > i.fad, .small-box .icon > i.ion {
	font-size : 60px;
}
.align-middle {
	vertical-align : middle !important;
}